a {
	background: transparent;
	color: #0000FF;
	text-decoration: underline;
}

a:hover {
	background: transparent;
	color: #008000;
	text-decoration: underline;
}

a.reversed {
	background: transparent;
	color: #0000CC;
	text-decoration: none;
}

a.reversed:hover {
	background: transparent;
	color: #008000;
	text-decoration: underline;
}

a.visited {
	background: transparent;
	color: Red;
	text-decoration: underline;
}

body, td {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif, sans-serif;
	font-size: 100%;
}

h1 {
	background: #FFFFFF;
	color: #0000CD;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
	background: #FFFFFF;
	color: #000066;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: larger;
	margin-bottom: -1px;
}

h3 {
	background: #FFFFFF;
	color: #0000CC;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0px;
	padding: 0px;
}

h4 {
	background: #FFFFFF;
	color: #3366CC;
	font-family: Georgia, "Times New Roman", Times, serif;
}

p {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 100%;
}

.barback {
	background-color: #FFFACD;
	color: Maroon;
}

.botbar {
	background: Navy;
	color: Navy;
}

.cright {
	background-color: Navy;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
}

.emphasis {
	font-weight: bold;
}

.leftbar {
	background: #FFFACD;
	color: #99CCFF;
}

.lesser {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 70%;
}

.dropped {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 70%;
	background: #FFFACD;
	color: Black;
	margin-top: 20px;
}

.lighter {
	background: #99CCFF;
	color: #663300;
}

.midbar {
	background-color: #FFFFFF;
	color: #000000;
}

.rightbar {
	background: #FFFACD;
	color: #000000;
}

.stout {
	background: Navy;
	color: #FFFACD;
	font-size: 110%;
	font-weight: bold;
}

.topbar {
	background: Navy;
	color: Navy;
}
